/* ---------------------------------------------
*   Custom Properties
--------------------------------------------- */
:root {
    --design-width: 1920;
    --contents-width: 1200;
    --contents-side-padding: 10;
    --minwidth: calc(var(--contents-width) + var(--contents-side-padding) * 2);
    --fixed-header-height: 80;
    --root-fz: 16;
    --line-height: 1.5;
    --hover-opacity-ratio: 0.8;
    --hover-duration: .3s;
    --color-base-1: #000;
    --color-base-1-rgb: 0, 0, 0;
    --color-black-1: #000;
    --color-black-1-rgb: 0, 0, 0;
    --color-black-2: #111;
    --color-black-2-rgb: 17, 17, 17;
    --color-white-1: #fff;
    --color-white-1-rgb: 255, 255, 255;
    --color-white-2: #fefefe;
    --color-white-2-rgb: 254, 254, 254;
    --color-sample-1: #9b2019;
    --color-sample-1-rgb: 155, 32, 25;
    --color-sample-2: #223a70;
    --color-sample-2-rgb: 34, 58, 112;
    --ff-root: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "meiryo", sans-serif;
    --ff-noto: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 750px) {
    :root {
        --design-width: 750;
        --contents-width: 730;
        --contents-side-padding: 10;
        --minwidth: 320;
        --fixed-header-height: 60;
        --root-fz: 32;
        --line-height: 1.5;
    }
}

/* ---------------------------------------------
*   Universal selector
--------------------------------------------- */
*, *::before, *::after {
    box-sizing: border-box;
}

/* ---------------------------------------------
*   html, body
--------------------------------------------- */
html,
body {
    color: var(--color-base-1);
    font-size: calc(var(--root-fz) * 1px);
    font-family: var(--ff-root);
    -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 750px) {
    html,
    body {
        font-size: calc(var(--root-fz) / var(--design-width) * 100vw);
    }
}

body {
    min-width: calc(var(--minwidth) * 1px);
    line-height: var(--line-height);
}

/* ---------------------------------------------
*   <a> tag
--------------------------------------------- */
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------------------------------
*   <img> tag
--------------------------------------------- */
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* ---------------------------------------------
*   <hr> tag as anchor target
--------------------------------------------- */
hr[id^=anchor-] {
    display: block;
    width: auto;
    height: 0;
    padding: calc(var(--fixed-header-height) * 1px) 0 0 0;
    border: 0;
    margin: calc(var(--fixed-header-height) * -1px) 0 0 0;
    background: 0;
    pointer-events: none;
}