// ---------------------------------------------
//   import partial
//----------------------------------------------
@use "../../index" as *;
/* ---------------------------------------------
*   p-lower-page-xx
--------------------------------------------- */
.p-lower-page-xx {}
