// ---------------------------------------------
//   import partial
//----------------------------------------------
@use "../../index" as *;
/* ---------------------------------------------
*   p-top-xx
--------------------------------------------- */
.p-top-xx {}
