// ---------------------------------------------
//   import partial
//----------------------------------------------
@use "../../index" as *;
/* ---------------------------------------------
*   l-contents
--------------------------------------------- */
.l-contents {
    padding-top: calc(var(--fixed-header-height) * 1px);
}
