// ---------------------------------------------
//   import partial
//----------------------------------------------
@use "../../index" as *;
/* ---------------------------------------------
*   l-footer
--------------------------------------------- */
.l-footer {}
