// ---------------------------------------------
//   import partial
//----------------------------------------------
@use "../../index" as *;
/* ---------------------------------------------
*   l-header
--------------------------------------------- */
.l-header {
    height: calc(var(--fixed-header-height) * 1px);
}
