// ---------------------------------------------
//   import partial
//----------------------------------------------
@use "../../index" as *;
/* ---------------------------------------------
*   l-wrapper
--------------------------------------------- */
.l-wrapper {}
