// ---------------------------------------------
//   import partial
//----------------------------------------------
@use "../index" as *;
/* ---------------------------------------------
*   Custom Properties
--------------------------------------------- */
:root {
    @include custom-properties;
}

/* ---------------------------------------------
*   Universal selector
--------------------------------------------- */
*,*::before,*::after{
    box-sizing: border-box;
}

/* ---------------------------------------------
*   html, body
--------------------------------------------- */
html,
body {
    color: var(--color-base-1);
    font-size: calc(var(--root-fz) * 1px);
    font-family: var(--ff-root);
    -webkit-text-size-adjust: 100%;

    @media screen and (max-width: #{$breakpoint-sp}px) {
        font-size: pxtovw(var(--root-fz)); // SP時、vw指定の場合
    }
}
body {
    min-width: calc(var(--minwidth) * 1px);
    line-height: var(--line-height);
}

/* ---------------------------------------------
*   <a> tag
--------------------------------------------- */
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------------------------------
*   <img> tag
--------------------------------------------- */
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* ---------------------------------------------
*   <hr> tag as anchor target
--------------------------------------------- */
hr[id^="anchor-"] {
    display: block;
    width: auto;
    height: 0;
    padding: calc(var(--fixed-header-height) * 1px) 0 0 0;
    border: 0;
    margin: calc(var(--fixed-header-height) * -1px) 0 0 0;
    background: 0;
    pointer-events: none;
}
