// ---------------------------------------------
//   import partial
//----------------------------------------------

@use "../../index" as *;
/* ---------------------------------------------
*   c-block
--------------------------------------------- */
.c-block {}
