// ---------------------------------------------
//   import partial
//----------------------------------------------

@use "../../index" as *;
/* ---------------------------------------------
*   c-box
--------------------------------------------- */
.c-box {}
