// ---------------------------------------------
//   import partial
//----------------------------------------------

@use "../../index" as *;
/* ---------------------------------------------
*   c-cassette
--------------------------------------------- */
.c-cassette {}
