// ---------------------------------------------
//   import partial
//----------------------------------------------

@use "../../index" as *;
/* ---------------------------------------------
*   c-figure
--------------------------------------------- */
.c-figure {}
