// ---------------------------------------------
//   import partial
//----------------------------------------------

@use "../../index" as *;
/* ---------------------------------------------
*   c-slider
--------------------------------------------- */
.c-slider {}
