// ---------------------------------------------
//   import partial
//----------------------------------------------

@use "../../index" as *;
/* ---------------------------------------------
*   c-ttl
--------------------------------------------- */
.c-ttl {}
